@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    /* From https://css.glass */
background: rgba(40, 40, 40, 0.447);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border-bottom: 1px solid rgb(160, 160, 160);
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar-item {
    margin: 0;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-item:hover {
    scale: 1.05;
    transition: ease-in-out .3s;
    border-bottom: 1px solid white;
}