@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    background: #F8F8F8;
    box-shadow:  0px 6px 6px rgba(172, 171, 171, 0.358);
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar-item {
    margin: 0;
}

.navbar-link {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.navbar-item:hover {
    scale: 1.05;
    transition: ease-in-out .3s;
    border-bottom: 1px solid rgb(150, 150, 150);
}