@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar {
    background-color: #33333383;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar-item {
    margin: 0;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-item:hover {
    scale: 1.05;
    transition: ease-in-out .3s;
    border-bottom: 1px solid white;
}